/* --------- colors --------- */
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- adjustment --------- */
@font-face {
  font-family: "RockwellRegular";
  src: url("../fonts/RockwellRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

html, body {
  height: 100%; }

body {
  font-family: Tahoma; }

* {
  outline: 0; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

figure {
  margin: 0; }

.content-layout {
  max-width: 940px;
  margin: 0 auto; }

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 940px;
  height: auto !important; }

.wrapper:after {
  content: "";
  height: 100px;
  display: block; }

.main-footer {
  position: relative;
  height: 100px;
  min-width: 940px;
  margin-top: -100px; }

.post__footer:before, .post__footer:after, .new-comment__wrapper_textarea:before, .new-comment__wrapper_textarea:after, .comments__footer:before, .comments__footer:after, .new-comment__form:before, .new-comment__form:after, .form__search-wrapper:before, .form__search-wrapper:after {
  content: "";
  display: table; }

.post__footer:after, .new-comment__wrapper_textarea:after, .comments__footer:after, .new-comment__form:after, .form__search-wrapper:after {
  clear: both; }

/* --------- sections --------- */
.main-header {
  height: 350px;
  background: url(../img/bg-header.jpg) center center no-repeat;
  background-size: cover; }

.main-nav__list {
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid rgba(183, 183, 183, 0.47);
  position: relative; }

.main-nav__item {
  font-family: "RockwellRegular";
  font-size: 24px;
  font-weight: 700;
  margin-left: 51px;
  display: inline-block;
  vertical-align: top; }

.main-nav__item-active .main-nav__link {
  color: #3eb3a5; }

.main-nav__link {
  color: #bcbcbc;
  text-decoration: none;
  padding-top: 29px;
  padding-bottom: 29px;
  display: block; }
  .main-nav__link:hover {
    color: #3eb3a5; }

.heading {
  text-align: center;
  padding-top: 100px; }
  .heading h1 {
    color: #a0a0a0;
    font-family: "RockwellRegular";
    font-size: 40px;
    font-weight: 400; }
    .heading h1:after {
      display: block;
      content: "";
      width: 32px;
      height: 4px;
      border-bottom: 1px solid #b7b7b7;
      border-top: 1px solid #b7b7b7;
      margin: 15px auto 0 auto; }

.posts__list {
  margin-bottom: 60px; }

.posts__item {
  padding-left: 147px;
  position: relative;
  background: url(../img/bg-list-posts.png) left bottom repeat-x;
  padding-bottom: 45px;
  padding-top: 85px; }

.posts__date {
  position: absolute;
  top: 44px;
  left: 0;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  border: 7px solid #ebebeb; }

.posts__date-text {
  color: #3eb3a5;
  font-family: "RockwellRegular";
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-top: 45px; }

.posts__info {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px; }

.posts__info-list {
  font-size: 0; }

.posts__info-item {
  font-family: "RockwellRegular";
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle; }
  .posts__info-item:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 20px;
    background-color: #ebebeb; }
  .posts__info-item:first-child:before {
    display: none; }

.posts__info-link {
  text-decoration: none;
  color: silver; }

.posts__info-text {
  color: #b7b7b7;
  margin-left: 5px; }

.posts__info-link_type1 {
  color: #3eb3a5; }

.posts__info-sep {
  color: #3eb3a5; }

.posts__info-link-likes {
  margin-left: 10px;
  padding-left: 23px;
  background: url(../img/icon-likes.png) left center no-repeat; }

.posts__info-link-comments {
  margin-left: 10px;
  padding-left: 23px;
  background: url(../img/icon-comments.png) left center no-repeat; }

.posts__text p {
  color: #8e8e8e;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.posts__content {
  padding-top: 25px; }

.posts__header {
  font-family: "RockwellRegular";
  font-size: 30px;
  font-weight: 700; }
  .posts__header .posts__header_link {
    text-decoration: none;
    color: #272727; }

.posts__link {
  color: #3eb3a5;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3px; }

.pagination__list {
  font-size: 0;
  text-align: center; }

.pagination__item {
  display: inline-block;
  vertical-align: top;
  font-family: "RockwellRegular";
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px; }
  .pagination__item:first-child {
    margin-left: 0; }

.pagination__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 20px 15px 20px;
  border: 2px solid #fff;
  background-color: #3eb3a5;
  border-radius: 4px; }
  .pagination__link:hover {
    color: #3eb3a5;
    background-color: #fff;
    border: 2px solid #3eb3a5;
    border-radius: 4px; }

.pagination__item-active .pagination__link {
  color: #3eb3a5;
  background-color: #fff;
  border: 2px solid #3eb3a5;
  border-radius: 4px; }

.posts__header_edit {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  background: url(../img/icon-edit.png) 0 0 no-repeat; }

.posts__header_delete {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  background: url(../img/icon-delete.png) 0 0 no-repeat; }

.post__tags {
  padding-top: 10px; }

.post__tags-header {
  color: #1f1f1f;
  font-family: "RockwellRegular";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px; }

.post__tags-list {
  font-size: 0;
  display: inline-block;
  vertical-align: bottom; }

.post__tags-item {
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px; }
  .post__tags-item:first-child {
    margin-left: 0; }

.post__tags-link {
  color: #3eb3a5;
  text-decoration: none; }

.posts__list-singlepost {
  margin-bottom: 0; }

.posts__item-singlepost {
  background: none; }

.post__footer {
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(85, 85, 85, 0.15); }

.post__footer-header {
  color: #1f1f1f;
  font-family: "RockwellRegular";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center; }

.new-comment {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(85, 85, 85, 0.15); }
  .new-comment a {
    color: #3eb3a5; }

.new-comment__header {
  color: #1f1f1f;
  font-family: "RockwellRegular";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 27px; }

.new-comment__label {
  color: #8e8e8e;
  font-family: "RockwellRegular";
  font-size: 12px;
  font-weight: 700; }

.new-comment__input {
  width: 151px;
  background-color: #ebebeb;
  border-radius: 4px;
  color: #888b8b;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px; }

.new-comment__input::-webkit-input-placeholder {
  color: #888b8b; }

.new-comment__input::-moz-placeholder {
  color: #888b8b; }

.new-comment__input:-moz-placeholder {
  color: #888b8b; }

.new-comment__input:-ms-input-placeholder {
  color: #888b8b; }

.new-comment__textarea::-webkit-input-placeholder {
  color: #888b8b; }

.new-comment__textarea::-moz-placeholder {
  color: #888b8b; }

.new-comment__textarea:-moz-placeholder {
  color: #888b8b; }

.new-comment__textarea:-ms-input-placeholder {
  color: #888b8b; }

.new-comment__textarea {
  color: #888b8b;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  border: 0;
  background-color: #ebebeb;
  border-radius: 4px;
  color: #888b8b;
  width: 356px;
  padding-left: 20px;
  padding-right: 20px;
  height: 162px;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: none; }

.new-comment__input_margin {
  margin-right: 16px; }

.new-comment__label-marginright {
  margin-right: 23px; }

.new-comment__label-marginleft {
  margin-left: 23px; }

.new-comment__wrapper {
  text-align: center;
  width: 396px;
  margin: 0 auto; }

.new-comment__wrapper_top {
  margin-bottom: 19px; }

.textarea__left {
  float: left;
  margin-right: 22px; }

.textarea__center {
  float: left; }

.new-comment__label_textarea {
  margin-left: 108px; }

.new-comment__submit {
  width: 398px;
  background-color: #3eb3a5;
  border-radius: 4px;
  border: 0;
  color: white;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 16px; }

.new-comment__wrapper_textarea {
  margin-bottom: 13px; }

.comments__list {
  padding-top: 43px;
  margin-bottom: 50px; }

.comments__item {
  padding-left: 138px;
  position: relative;
  padding-top: 35px;
  margin-bottom: 20px; }

.comments__item_notvalid .comments__text {
  background: #cc8899;
  color: #000; }

.comments__avatar {
  width: 115px;
  height: 115px;
  background-color: #ebebeb;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; }

.comments__author {
  color: #3eb3a5;
  font-family: "RockwellRegular";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px; }
  .comments__author .comments__author_link {
    text-decoration: none;
    color: #3eb3a5; }

.comments__text {
  width: 588px;
  background-color: #ebebeb;
  border-radius: 4px;
  color: #565656;
  font-family: "RockwellRegular";
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 14px;
  line-height: 24px; }

.comments__link {
  color: #3eb3a5;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 14px; }

.comments__footer {
  width: 600px; }

.comments__footer_left {
  float: left; }

.comments__footer_right {
  float: right; }

.comments__link_resolve {
  color: #4169e1; }

.comments__link_reject {
  color: #f00; }

.show_comments {
  display: block;
  width: 247px;
  background-color: #3eb3a5;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  font-family: "RockwellRegular";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px; }

.post__footer-content {
  margin-bottom: 10px; }

.post__footer-list {
  text-align: center;
  font-size: 0; }

.post__footer-item {
  font-family: "RockwellRegular";
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 25px; }
  .post__footer-item:first-child() {
    margin-left: 0; }

.post__footer-link {
  color: #3eb3a5;
  text-decoration: none;
  font-size: 15px; }

.auth {
  padding-top: 50px; }

.header-content {
  color: #1f1f1f;
  font-family: "RockwellRegular";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 25px; }

.form__auth {
  text-align: center; }

.form__wrapper {
  margin-bottom: 15px; }

.form__checkbox {
  margin-right: 5px; }

.form__label {
  color: #8e8e8e;
  font-family: "RockwellRegular";
  font-size: 17px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px; }

.form__input {
  width: 200px;
  background-color: #ebebeb;
  border-radius: 4px;
  color: #888b8b;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px; }

.form__input::-webkit-input-placeholder {
  color: #888b8b; }

.form__input::-moz-placeholder {
  color: #888b8b; }

.form__input:-moz-placeholder {
  color: #888b8b; }

.form__input:-ms-input-placeholder {
  color: #888b8b; }

.form__button {
  width: 240px;
  background-color: #3eb3a5;
  border-radius: 4px;
  border: 0;
  color: white;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 16px; }

.form__error {
  font-family: "RockwellRegular";
  color: #f00;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 240px;
  margin: 0 auto; }

.form__link {
  color: #3eb3a5; }

.form__input-name {
  position: relative;
  width: 240px;
  margin: 0 auto; }
  .form__input-name:before {
    content: "@";
    position: absolute;
    top: 15px;
    left: 15px;
    color: #888b8b;
    font-family: "RockwellRegular";
    font-size: 16px;
    font-weight: bold; }
  .form__input-name .form__input {
    width: 185px;
    padding-left: 35px; }

.form__search-input {
  width: 80%;
  background-color: #ebebeb;
  border-radius: 4px;
  color: #888b8b;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 7px;
  float: left;
  margin-top: 2px; }

.form__search-submit {
  width: 15%;
  background-color: #3eb3a5;
  border-radius: 4px;
  border: 0;
  color: white;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 16px;
  float: right; }

.form__search-wrapper {
  margin-bottom: 10px; }

.form__search-error {
  font-family: "RockwellRegular";
  color: #f00;
  font-size: 14px;
  font-weight: bold; }

.form__search {
  margin-bottom: 20px; }

.search__header {
  color: #1f1f1f;
  font-family: "RockwellRegular";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px; }

.result__header {
  color: #3eb3a5;
  font-family: "RockwellRegular";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
  text-decoration: none; }

.result__text {
  color: #8e8e8e;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0; }

.result__item {
  margin-bottom: 20px; }

.new-post {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 40px; }

.new-post__header {
  color: #1f1f1f;
  font-family: "RockwellRegular";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 27px; }

.new-post__label {
  display: block;
  color: #3eb3a5;
  font-size: 20px;
  font-weight: bold;
  font-family: "RockwellRegular";
  margin-bottom: 10px; }

.new-post__textarea::-webkit-input-placeholder {
  color: #888b8b; }

.new-post__textarea::-moz-placeholder {
  color: #888b8b; }

.new-post__textarea:-moz-placeholder {
  color: #888b8b; }

.new-post__textarea:-ms-input-placeholder {
  color: #888b8b; }

.new-post__textarea {
  color: #888b8b;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  border: 0;
  background-color: #ebebeb;
  border-radius: 4px;
  color: #888b8b;
  width: 720px;
  padding-left: 20px;
  padding-right: 20px;
  height: 162px;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: none; }

.new-post__input {
  width: 720px;
  background-color: #ebebeb;
  border-radius: 4px;
  color: #888b8b;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px; }

.new-post__input::-webkit-input-placeholder {
  color: #888b8b; }

.new-post__input::-moz-placeholder {
  color: #888b8b; }

.new-post__input:-moz-placeholder {
  color: #888b8b; }

.new-post__input:-ms-input-placeholder {
  color: #888b8b; }

.new-post__button {
  width: 150px;
  border-radius: 4px;
  border: 0;
  color: white;
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 16px;
  display: block;
  margin: 0 auto 15px auto;
  text-decoration: none; }

.new-post__button-post {
  background-color: #3eb3a5; }

.new-post__button-delete {
  background-color: #f00; }

.new-post__button-draft {
  background-color: #cad422; }

.new-post__wrapper {
  margin-bottom: 15px; }

.new-post__left {
  float: left; }

.new-post__right {
  padding-top: 33px;
  float: left;
  margin-left: 25px; }

.result__author {
  color: #888b8b;
  font-family: "RockwellRegular";
  font-size: 15px;
  display: block;
  margin-bottom: 10px; }

.profile-content {
  padding-top: 40px; }

.profile__list {
  font-size: 0;
  text-align: center; }

.profile__item {
  margin-left: 15px;
  display: inline-block;
  vertical-align: top; }
  .profile__item:first-child() {
    margin-left: 0; }

.profile__link {
  color: #a0a0a0;
  font-family: "RockwellRegular";
  font-size: 20px;
  text-decoration: none; }
  .profile__link:hover {
    text-decoration: underline; }

.posts__table {
  width: 100%;
  border-collapse: collapse; }
  .posts__table th {
    border: 1px solid #ebebeb;
    font-family: "RockwellRegular";
    font-size: 15px;
    padding: 5px; }
  .posts__table td {
    border: 1px solid #ebebeb;
    font-family: "RockwellRegular";
    font-size: 15px;
    padding: 5px;
    text-align: center; }

.header-content__th_width {
  width: 45%; }

.header-content__th_width2 {
  width: 25%; }

.posts__table__link {
  text-decoration: none;
  color: #3eb3a5; }

.posts__table__moderate {
  color: #f00; }

.bloggers__table-th-width {
  width: 50%; }

.moderatecomments__item {
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px; }

.moderatecomments__header-link {
  text-decoration: none;
  color: #3eb3a5;
  font-family: "RockwellRegular";
  font-size: 21px;
  font-weight: bold; }

.moderatecomments__content-text {
  font-family: "RockwellRegular"; }

.moderatecomments__content-user {
  font-weight: bold;
  font-size: 16px;
  color: #000; }

.moderatecomments__footer-link {
  font-family: "RockwellRegular";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 15px; }

.moderatecomments__footer-link-resolve {
  color: #4169e1; }

.moderatecomments__footer-link-reject {
  color: #f00; }

.main-footer {
  padding-top: 50px;
  padding-bottom: 25px; }
  .main-footer p {
    text-align: center;
    font-family: "RockwellRegular";
    font-size: 18px;
    color: #aeaeae;
    font-weight: 400; }
    .main-footer p a {
      font-weight: 700;
      color: #3eb3a5; }
