extends ../layouts/main-layout.jade

block title
	title Авторы - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Авторы коллективного блога
			table.posts__table
				tr
					th #
					th.bloggers__table-th-width Автор
					th Оценили записи
					th Просмотры
				tr
					td 1
					td 
						a.posts__table__link(href="newpost.html") Admin
					td 2
					td 5
