extends ../layouts/main-layout.jade

block title
	title Коллективные блоги

block content
	.content-layout
		.heading
			h1 Последние записи
		.blog-content
			ul.posts__list
				li.posts__item
					.posts__date 
						.posts__date-text 31 / 07
					.posts__info
						ul.posts__info-list
							li.posts__info-item
								span.posts__info-text Автор: 
								a.posts__info-link_type1(href="#") Admin
							li.posts__info-item
								span.posts__info-text
								a.posts__info-link_type1(href="#") Жизнь
								span.posts__info-sep , 
								a.posts__info-link_type1(href="#") Интересное
							li.posts__info-item
								a.posts__info-link.posts__info-link-likes(href="#") 136
							li.posts__info-item
								a.posts__info-link.posts__info-link-comments(href="#") 21
							li.posts__info-item
								span.posts__info-text Просмотры: 100
					.posts__content
						.posts__text
							h1.posts__header 
								a.posts__header_link(href="post.html") Заголовок сообщения
								a.posts__header_edit(href="#")
								a.posts__header_delete(href="#")
							p Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений. Товарищи! реализация намеченных плановых заданий играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития.
						.posts__footer
							a.posts__link(href="post.html") Далее
			ul.pagination__list
				li.pagination__item.pagination__item-active
					a.pagination__link(href="#") 1
				li.pagination__item
					a.pagination__link(href="#") 2
				li.pagination__item
					a.pagination__link(href="#") 3