extends ../layouts/main-layout.jade

block title
	title Войти - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Войти
			form.form__auth
				.form__wrapper
					label.form__label(for="email") E-mail:
					input.form__input(type="email" id="email" name="email")
					.form__error Сообщение об ошибке
				.form__wrapper
					label.form__label(for="password") Пароль:
					input.form__input(type="password" id="password" name="password")
					.form__error Сообщение об ошибке
				.form__wrapper
					label.form__label(for="remember")
						input(type="checkbox" name="remember" id="remember").form__checkbox
						| Запомнить меня
				.form__wrapper
					input(type="submit" value="Войти").form__button
				a.form__link(href="#") Забыли пароль?

