extends ../layouts/main-layout.jade

block title
	title Комментарии для подтверждения - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Комментарии для подтверждения
			ul.moderatecomments__list
				li.moderatecomments__item
					.moderatecomments__header 
						a.moderatecomments__header-link(href="#") Название публикации
					.moderatecomments__content
						p.moderatecomments__content-text
							a.moderatecomments__content-user(href="#") @admin
							|:  
							| Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации
					.moderatecomments__footer
						a.moderatecomments__footer-link.moderatecomments__footer-link-resolve(href="#") Опубликовать
						a.moderatecomments__footer-link.moderatecomments__footer-link-reject(href="#") Удалить
