extends ../layouts/main-layout.jade

block title
	title Поиск - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Мои комментарии
			ul.result__list
				li.result__item
					a.result__header(href="#") Заголовок
					a.result__author(href="#") Автор
					p.result__text Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.



