extends ../layouts/main-layout.jade

block title
	title Новая публикация - Коллективные блоги

block content
	.content-layout
		.blog-content
			.new-post
				form(action="").new-comment__form
					h1.new-post__header Новая публикация				
					.new-post__left
						.new-post__wrapper
							label.new-post__label(for="title") Заголовок
							input#title.new-post__input(type="text" name="title")
							.form__error Сообщение об ошибке
						.new-post__wrapper
							label.new-post__label(for="text") Сообщение
							textarea#text.new-post__textarea
							.form__error Сообщение об ошибке								
					.new-post__right
						.new-post__wrapper
							input.new-post__button.new-post__button-post(type="submit", value="Опубликовать")
						a.new-post__button.new-post__button-delete(href="#") Удалить
						a.new-post__button.new-post__button-draft(href="#") В черновик
						a.new-post__button.new-post__button-post(href="#") Опубликовать
