extends ../layouts/main-layout.jade

block title
	title Управление записями - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Управление записями
			table.posts__table
				tr
					th #
					th.header-content__th_width Название
					th Лайки					
					th Просмотры
					th Комменты
					th Создано
					th Изменено
					th.header-content__th_width2 Статус
				tr
					td 1
					td 
						a.posts__table__link(href="newpost.html") Заголовок записи
					td 1
					td 2
					td 3 | 
						span.posts__table__moderate 2
					td 24/06/2016
					td 25/06/2016
					td Опубликовано
				tr
					td 2
					td Заголовок записи
					td 1
					td 2
					td 3
					td 24/06/2016
					td 25/06/2016
					td Удалено
				tr
					td 3
					td
						a.posts__table__link(href="newpost.html") Заголовок записи
					td 1
					td 2
					td 3						
					td 24/06/2016
					td 25/06/2016
					td Черновик