extends ../layouts/main-layout.jade

block title
	title Публикация - Коллективные блоги

block content
	.content-layout
		.blog-content
			ul.posts__list.posts__list-singlepost
				li.posts__item.posts__item-singlepost
					.posts__date 
						.posts__date-text 31 / 07
					.posts__info
						ul.posts__info-list
							li.posts__info-item
								span.posts__info-text Автор: 
								a.posts__info-link_type1(href="#") Admin
							li.posts__info-item
								a.posts__info-link.posts__info-link-likes(href="#") 136
							li.posts__info-item
								a.posts__info-link.posts__info-link-comments(href="#comments") 21
							li.posts__info-item
								span.posts__info-text Просмотры: 100
					.posts__content
						.posts__text
							h1.posts__header Заголовок сообщения
								a.posts__header_edit(href="#")
								a.posts__header_delete(href="#")
							p Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений. Товарищи! реализация намеченных плановых заданий играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.  
							p Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития.
							p
								img(src="img/image.jpg", alt="")
						.post__tags
							span.post__tags-header Тэги:
							ul.post__tags-list
								li.post__tags-item
									a.post__tags-link(href="#") приключения,
								li.post__tags-item
									a.post__tags-link(href="#") жизнь прекрасна,
								li.post__tags-item
									a.post__tags-link(href="#") впечатления
			.post__footer
				.post__footer-content
					.post__footer-header Другие записи
					ul.post__footer-list
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 1
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 2
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 3
				.post__footer-content
					.post__footer-header Свежие записи блога
					ul.post__footer-list
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 1
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 2
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 3
			.new-comment
				h2.new-comment__header Оставить комментарий
				form(action="").new-comment__form
					.new-comment__wrapper.new-comment__wrapper_textarea
						textarea.new-comment__textarea(placeholder="Здесь будет интересный комментарий :)")
						.g-recaptcha(data-sitekey="6LfOBxwTAAAAACqANl-1mHDKbF3ywXgTIUVZoS8l")
					input.new-comment__submit(type="submit", value="Опубликовать")
				p
					a(href="login.html") Войдите
					|   или  
					a(href="reg.html") зарегистрируйтесь
					|   чтобы оставить комментарий
			ul.comments__list#comments
				li.comments__item
					.comments__avatar
					.comments__author
						a.comments__author_link(href="#") Комментатор
					.comments__text Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
					.comments__footer
						.comments__footer_left
							a.comments__link(href="#") Ответить							
						.comments__footer_right
							a.comments__link.comments__link_resolve(href="#") Опубликовать
							a.comments__link.comments__link_reject(href="#") Удалить
				li.comments__item.comments__item_notvalid
					.comments__avatar
					.comments__author
						a.comments__author_link(href="#") Комментатор
						|  (на модерации)
					.comments__text Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
					.comments__footer
			a.show_comments(href="#") Больше комментариев
