extends ../layouts/main-layout.jade

block title
	title Коллективные блоги

block content
	.content-layout
		.heading
			h1 Профиль пользователя @admin
		.profile-content
			ul.profile__list
				li.profile__item
					a.profile__link(href='newpost.html') Новая публикация
				li.profile__item
					a.profile__link(href='posts.html') Управление публикациями
				li.profile__item
					a.profile__link(href='mycomments.html') Мои комментарии
				li.profile__item
					a.profile__link(href='moderatecomments.html') Управление комментариями
				li.profile__item
					a.profile__link(href='mycomments.html') Мои лайки
				li.profile__item
					a.profile__link(href='#') Выход
			