extends ../layouts/main-layout.jade

block title
	title Регистрация - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Регистрация
			form.form__auth
				.form__wrapper
					label.form__label(for="email") E-mail:
					input.form__input(type="email" id="email" name="email")
					.form__error Сообщение об ошибке
				.form__wrapper
					label.form__label(for="name") Имя:
					.form__input-name
						input.form__input(type="text" id="name" name="name")
					.form__error Сообщение об ошибке
				.form__wrapper
					label.form__label(for="password") Пароль:
					input.form__input(type="password" id="password" name="password")
					.form__error Сообщение об ошибке
				.form__wrapper
					label.form__label(for="password-repeat") Повтор пароля:
					input.form__input(type="password" id="password-repeat"
					name="password-repeat")
					.form__error Сообщение об ошибке
				.form__wrapper
					input(type="submit" value="Отправить").form__button
