extends ../layouts/main-layout.jade

block title
	title Blog - Login

block content
	.content-layout
		.auth
			h1.header-content Восстановление пароля
			form.form__auth
				.form__wrapper
					label.form__label(for="email") E-mail:
					input.form__input(type="email" id="email" name="email")
					.form__error Сообщение об ошибки
				.form__wrapper
					input(type="submit" value="Сбросить пароль").form__button