extends ../layouts/main-layout.jade

block title
	title Поиск - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Поиск
			form.form__search(method="post")
				.form__search-wrapper
					input.form__search-input(type="text" name="search" placeholder="Искать...")
					input.form__search-submit(type="submit", value="Искать")
				.form__search-error Ошибка поиска					
			h2.search__header Результаты поиска
			ul.result__list
				li.result__item
					a.result__header(href="#") Заголовок
					p.result__text Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.
				li.result__item
					a.result__header(href="#") Заголовок
					p.result__text Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.



