//ADJUSTMENT
$content-layout: 940px;
$footer-height: 100px;

@font-face {
    font-family: "RockwellRegular";
    src: url("../fonts/RockwellRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
}

body {
    font-family: Tahoma;
}

* {
    outline: 0;
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

.content-layout {
    max-width: $content-layout;
    margin: 0 auto;
}

.wrapper{
    position: relative;
    min-height: 100%;
    min-width: $content-layout;
    height: auto!important;
}
.wrapper:after {
    content: "";
    height: $footer-height;
    display: block;
}

.main-footer {
    position: relative;
    height: $footer-height;
    min-width: $content-layout;
    margin-top: - $footer-height;
}

.post__footer, .new-comment__wrapper_textarea, .comments__footer, .new-comment__form, .form__search-wrapper {
    @include clearfix();
}