footer.main-footer
	p Copyrights (c) 
		a(href="#") Fikristudio
		|  2016
	p Портфолио-проект 
		a(href="mailto:n.poymanov@gmail.com") Пойманова Николая
	p
		a(href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank") Исходный код
script(src='https://www.google.com/recaptcha/api.js')
<!-- build:js js/main.min.js -->	
script(src='../js/script.js')
<!-- endbuild -->