header.main-header
nav.main-nav
	ul.main-nav__list
		li.main-nav__item.main-nav__item-active
			a.main-nav__link(href="index.html") Главная
		li.main-nav__item
			a.main-nav__link(href="#") Авторы
		li.main-nav__item
			a.main-nav__link(href="login.html") Войти
		li.main-nav__item
			a.main-nav__link(href="reg.html") Регистрация
		li.main-nav__item
			a.main-nav__link(href="reg.html") Моя страница
		li.main-nav__item
			a.main-nav__link(href="newpost.html") Профиль
		li.main-nav__item
			a.main-nav__link(href="") Выйти
		li.main-nav__item
			a.main-nav__link(href="search.html") Поиск
		li.main-nav__item
			a.main-nav__link(href="#") RSS