head
	//META
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	block title
		title MainPage
	//SEO
	meta(name="description", content="")
	meta(name="keywords",content="")
	meta(name="author",content="Николай Пойманов")
	//CSS

	<!-- build:css css/vendor.min.css -->
	//bower:css
	link(rel='stylesheet', href='/bower/normalize-css/normalize.css')
	//endbower;
	<!-- endbuild -->

	<!-- build:css css/main.min.css -->
	link(rel='stylesheet', href='css/style.css')
	<!-- endbuild -->