.auth {
	padding-top: 50px;
}

.header-content {
	color: $color-text-9;
	font-family: "RockwellRegular";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 10px;
	text-align: center;
	margin-bottom: 25px;
}

.form__auth {
	text-align: center;
}

.form__wrapper {
	margin-bottom: 15px;
}

.form__checkbox {
	margin-right: 5px;
}

.form__label {
	color: $color-text-6;
	font-family: "RockwellRegular";
	font-size: 17px;
	font-weight: 700;
	display: block;
	margin-bottom: 5px;
}

.form__input {
	width: 200px;
	background-color: $bg-color-2;
	border-radius: 4px;
	color: $color-text-10;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.form__input::-webkit-input-placeholder {color:$color-text-10;}
.form__input::-moz-placeholder          {color:$color-text-10;}
.form__input:-moz-placeholder           {color:$color-text-10;}
.form__input:-ms-input-placeholder      {color:$color-text-10;}

.form__button {
	width: 240px;
	background-color: $bg-color-3;
	border-radius: 4px;
	border: 0;
	color: white;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 700;
	padding-top: 17px;
	padding-bottom: 16px;
}

.form__error {
	font-family: "RockwellRegular";
	color: $color-text-12;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 240px;
	margin: 0 auto;
}

.form__link {
	color: $color-text-2;	
}

.form__input-name {
	position: relative;
	width: 240px;
	margin: 0 auto;

	&:before {
		content: "@";
		position: absolute;
		top: 15px;
		left: 15px;
		color: $color-text-10;
		font-family: "RockwellRegular";
		font-size: 16px;
		font-weight: bold;
	}

	.form__input {
		width: 185px;
	    padding-left: 35px;
	}
}