.main-footer {
	padding-top: 50px;
	padding-bottom: 25px;

	p {
		text-align: center;
		font-family: "RockwellRegular";
		font-size: 18px;
		color: $color-text-8;
		font-weight: 400;
		
		a {
			font-weight: 700;
			color: $color-text-2;
		}
	}
}