.main-header{
	height: 350px;
	background: url(../img/bg-header.jpg) center center no-repeat;
	background-size: cover;
}


.main-nav__list {
	font-size: 0;
	text-align: center;
	border-bottom: 1px solid $color-border-1;
	position: relative;
}

.main-nav__item {
	font-family: "RockwellRegular";
	font-size: 24px;
	font-weight: 700;
	margin-left: 51px;

	@include inlineblock();
}

.main-nav__item-active {
	.main-nav__link {
		color: $color-text-2;
	}	
}

.main-nav__link {
	color: $color-text-1;
	text-decoration: none;
	padding-top: 29px;
	padding-bottom: 29px;
	display: block;

	&:hover {
		color: $color-text-2;
	}
}

