.heading {
	text-align: center;
	padding-top: 100px;

	h1 {
		color: $color-text-3;
		font-family: "RockwellRegular";
		font-size: 40px;
		font-weight: 400;

		&:after {
			display: block;
			content: "";
			width: 32px;
			height: 4px;
			border-bottom: 1px solid $bg-color-1;
			border-top: 1px solid $bg-color-1;
			margin: 15px auto 0 auto;
		}
	}
}

.posts__list {
	margin-bottom: 60px;
}

.posts__item {
	padding-left: 147px;
	position: relative;
	background: url(../img/bg-list-posts.png) left bottom repeat-x;
	padding-bottom: 45px;
	padding-top: 85px;
}

.posts__date {
	position: absolute;
	top: 44px;
	left: 0;
	width: 123px;
	height: 123px;
	border-radius: 50%;
	border: 7px solid $color-border-2;
}

.posts__date-text {
	color: $color-text-2;
	font-family: "RockwellRegular";
	font-size: 30px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	padding-top: 45px;
}

.posts__info {
	border-bottom: 1px solid $color-border-2;
	padding-bottom: 10px;
}

.posts__info-list {
	font-size: 0;
}

.posts__info-item {
	font-family: "RockwellRegular";
	font-size: 14px;
	font-weight: 400;
	padding-left: 5px;
	padding-right: 5px;
		
	@include inlineblock(middle);

	&:before {
		content: "";
		@include inlineblock();
		width: 1px;
		height: 20px;
		background-color: $bg-color-2;
	}

	&:first-child {
		&:before {
			display: none;
		}
	}
}

.posts__info-link {
	text-decoration: none;
	color: $color-text-5;
}

.posts__info-text {
	color: $color-text-4;
	margin-left: 5px;
}

.posts__info-link_type1 {
	color: $color-text-2;
}

.posts__info-sep {
	color: $color-text-2;	
}

.posts__info-link-likes {
	margin-left: 10px;
	padding-left: 23px;
	background: url(../img/icon-likes.png) left center no-repeat;
}

.posts__info-link-comments {
	margin-left: 10px;
	padding-left: 23px;
	background: url(../img/icon-comments.png) left center no-repeat;	
}

.posts__text {
	p {
		color: $color-text-6;
		font-family: "RockwellRegular";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
}

.posts__content {
	padding-top: 25px;
}

.posts__header {
	font-family: "RockwellRegular";
	font-size: 30px;
	font-weight: 700;

	.posts__header_link {
		text-decoration: none;
		color: $color-text-7;
	}
}

.posts__link {
	color: $color-text-2;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px solid $color-border-3;
	padding-bottom: 3px;
}

.pagination__list {
	font-size: 0;
	text-align: center;
}

.pagination__item {
	@include inlineblock();
	font-family: "RockwellRegular";
	font-size: 18px;
	font-weight: 700;
	margin-left: 5px;

	&:first-child {
		margin-left: 0;
	}
}

.pagination__link {
	color: $color-white;
	text-decoration: none;
	display: block;
	padding: 15px 20px 15px 20px;
	border: 2px solid $color-white;
	background-color: $bg-color-3;
	border-radius: 4px;

	&:hover {
		color: $color-text-2;
		background-color: $color-white;
		border: 2px solid $color-border-4;
		border-radius: 4px;
	}
}

.pagination__item-active {
	.pagination__link {
		color: $color-text-2;
		background-color: $color-white;
		border: 2px solid $color-border-4;
		border-radius: 4px;
	}
}

.posts__header_edit {	
	@include inlineblock();
	margin-left: 5px;
	width: 25px;
	height: 25px;
	background: url(../img/icon-edit.png) 0 0 no-repeat;
}

.posts__header_delete {	
	@include inlineblock();
	width: 25px;
	height: 25px;
	background: url(../img/icon-delete.png) 0 0 no-repeat;
}