.moderatecomments__item {
	margin-bottom: 25px;
	border-bottom: 1px solid $color-border-6;
	padding-bottom: 25px;
}

.moderatecomments__header-link {
	text-decoration: none;
	color: $color-text-2;
	font-family: "RockwellRegular";
	font-size: 21px;
	font-weight: bold;
}

.moderatecomments__content-text {
	font-family: "RockwellRegular";
}

.moderatecomments__content-user {
	font-weight: bold;
	font-size: 16px;
	color: $color-black;
}

.moderatecomments__footer-link {
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	margin-right: 15px;
}

.moderatecomments__footer-link-resolve {
	color: $color-text-13;
}

.moderatecomments__footer-link-reject {
	color: $color-text-12;
}