.new-post {
	text-align: center;
	padding-top: 42px;
	padding-bottom: 40px;
}

.new-post__header {
	color: $color-text-9;
	font-family: "RockwellRegular";
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 27px;
}

.new-post__label {
	display: block;
	color: $color-text-2;
	font-size: 20px;
	font-weight: bold;
	font-family: "RockwellRegular";
	margin-bottom: 10px;
}

.new-post__textarea::-webkit-input-placeholder {color:$color-text-10;}
.new-post__textarea::-moz-placeholder          {color:$color-text-10;}
.new-post__textarea:-moz-placeholder           {color:$color-text-10;}
.new-post__textarea:-ms-input-placeholder      {color:$color-text-10;}

.new-post__textarea {
	color: $color-text-10;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	border: 0;
	background-color: $bg-color-2;
	border-radius: 4px;
	color: $color-text-10;
	width: 720px;
	padding-left: 20px;
	padding-right: 20px;
	height: 162px;
	padding-top: 15px;
	padding-bottom: 15px;
	resize: none;
}

.new-post__input {
	width: 720px;
	background-color: $bg-color-2;
	border-radius: 4px;
	color: $color-text-10;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.new-post__input::-webkit-input-placeholder {color:$color-text-10;}
.new-post__input::-moz-placeholder          {color:$color-text-10;}
.new-post__input:-moz-placeholder           {color:$color-text-10;}
.new-post__input:-ms-input-placeholder      {color:$color-text-10;}

.new-post__button {
	width: 150px;
	border-radius: 4px;
	border: 0;
	color: white;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 700;
	padding-top: 17px;
	padding-bottom: 16px;
	display: block;
	margin: 0 auto 15px auto;
	text-decoration: none;
}

.new-post__button-post {
	background-color: $bg-color-3;
}

.new-post__button-delete {
	background-color: $bg-color-4;
}

.new-post__button-draft {
	background-color: $bg-color-5;
}

.new-post__wrapper {
	margin-bottom: 15px;
}

.new-post__left {
	float: left;
}

.new-post__right {
	padding-top: 33px;
	float: left;
	margin-left: 25px;
}