.post__tags {
	padding-top: 10px;
}

.post__tags-header {
	color: $color-text-9;
	font-family: "RockwellRegular";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 10px;
}

.post__tags-list {	
	font-size: 0;
	@include inlineblock(bottom);
}

.post__tags-item {
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	@include inlineblock(bottom);
	margin-left: 5px;

	&:first-child {
		margin-left: 0;
	}
}

.post__tags-link {
	color: $color-text-2;
	text-decoration: none;
}

.posts__list-singlepost {
	margin-bottom: 0;
}

.posts__item-singlepost {
	background: none;
}

.post__footer {
	padding-bottom: 25px;
	border-bottom: 2px solid $color-border-5;
}

.post__footer-header {
	color: $color-text-9;
	font-family: "RockwellRegular";
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
}

.new-comment {
	text-align: center;
	padding-top: 42px;
	padding-bottom: 40px;
	border-bottom: 2px solid $color-border-5;

	a {
		color: $color-text-2;
	}
}

.new-comment__header {
	color: $color-text-9;
	font-family: "RockwellRegular";
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 27px;
}

.new-comment__label {
	color: $color-text-6;
	font-family: "RockwellRegular";
	font-size: 12px;
	font-weight: 700;
}

.new-comment__input {
	width: 151px;
	background-color: $bg-color-2;
	border-radius: 4px;
	color: $color-text-10;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.new-comment__input::-webkit-input-placeholder {color:$color-text-10;}
.new-comment__input::-moz-placeholder          {color:$color-text-10;}
.new-comment__input:-moz-placeholder           {color:$color-text-10;}
.new-comment__input:-ms-input-placeholder      {color:$color-text-10;}

.new-comment__textarea::-webkit-input-placeholder {color:$color-text-10;}
.new-comment__textarea::-moz-placeholder          {color:$color-text-10;}
.new-comment__textarea:-moz-placeholder           {color:$color-text-10;}
.new-comment__textarea:-ms-input-placeholder      {color:$color-text-10;}

.new-comment__textarea {
	color: $color-text-10;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	border: 0;
	background-color: $bg-color-2;
	border-radius: 4px;
	color: $color-text-10;
	width: 356px;
	padding-left: 20px;
	padding-right: 20px;
	height: 162px;
	padding-top: 15px;
	padding-bottom: 15px;
	resize: none;
}

.new-comment__input_margin {
	margin-right: 16px;
}

.new-comment__label-marginright {
	margin-right: 23px;
}

.new-comment__label-marginleft {
	margin-left: 23px;	
}

.new-comment__wrapper {
	text-align: center;
	width: 396px;
	margin: 0 auto;
}

.new-comment__wrapper_top {
	margin-bottom: 19px;
}

.textarea__left {
	float: left;
	margin-right: 22px;
}

.textarea__center {
	float: left;
}

.new-comment__label_textarea {
	margin-left: 108px;
}

.new-comment__submit {
	width: 398px;
	background-color: $bg-color-3;
	border-radius: 4px;
	border: 0;
	color: white;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 700;
	padding-top: 17px;
	padding-bottom: 16px;
}

.new-comment__wrapper_textarea {
	margin-bottom: 13px;
}

.comments__list {
	padding-top: 43px;
	margin-bottom: 50px;
}

.comments__item {
	padding-left: 138px;
	position: relative;
	padding-top: 35px;
	margin-bottom: 20px;
}

.comments__item_notvalid {
	.comments__text {
		background: $bg-color-6;
		color: $color-black;
	}
}

.comments__avatar {
	width: 115px;
	height: 115px;
	background-color: $bg-color-2;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.comments__author {
	color: $color-text-2;
	font-family: "RockwellRegular";
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;

	.comments__author_link {
		text-decoration: none;
		color: $color-text-2;
	}
}

.comments__text {
	width: 588px;
	background-color: $bg-color-2;
	border-radius: 4px;
	color: $color-text-11;
	font-family: "RockwellRegular";
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 14px;
	line-height: 24px;
}

.comments__link {
	color: $color-text-2;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	margin-left: 14px;
}

.comments__footer {
	width: 600px;
}

.comments__footer_left {
	float: left;
}

.comments__footer_right {
	float: right;
}

.comments__link_resolve {
	color: $color-text-13;
}

.comments__link_reject{
	color: $color-text-12;
}

.show_comments {
	display:block;
	width: 247px;
	background-color: $bg-color-3;
	border-radius: 5px;
	margin: 0 auto;
	text-decoration: none;
	color: $color-white;
	font-family: "RockwellRegular";
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
}

.post__footer-content {
	margin-bottom: 10px;
}

.post__footer-list {
	text-align: center;
	font-size: 0;	
}

.post__footer-item {
	font-family: "RockwellRegular";
	margin-bottom: 10px;
	display: inline-block;
	margin-left: 25px;

	&:first-child() {
		margin-left: 0;
	}
}

.post__footer-link {
	color: $color-text-2;
	text-decoration: none;
	font-size: 15px;
}