.posts__table {
	width: 100%;
	border-collapse: collapse;

	th {
		border: 1px solid $color-border-2;
		font-family: "RockwellRegular";
		font-size: 15px;
		padding: 5px;
	}

	td {
		border: 1px solid $color-border-2;
		font-family: "RockwellRegular";
		font-size: 15px;
		padding: 5px;
		text-align: center;
	}
}

.header-content__th_width {
	width: 45%;
}

.header-content__th_width2 {
	width: 25%;
}

.posts__table__link {
	text-decoration: none;
	color: $color-text-2;
}

.posts__table__moderate {
	color: $color-text-12;
}