.profile-content {
	padding-top: 40px;
}

.profile__list {
	font-size: 0;
	text-align: center;
}

.profile__item {
	margin-left: 15px;
	
	&:first-child() {
		margin-left: 0;	
	}

	@include inlineblock();
}

.profile__link {
	color: $color-text-3;
	font-family: "RockwellRegular";
	font-size: 20px;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}