.form__search-input {
	width: 80%;
	background-color: $bg-color-2;
	border-radius: 4px;
	color: $color-text-10;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 7px;
	float: left;
	margin-top: 2px;
}

.form__search-submit {
	width: 15%;
	background-color: $bg-color-3;
	border-radius: 4px;
	border: 0;
	color: white;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 700;
	padding-top: 17px;
	padding-bottom: 16px;
	float: right;
}

.form__search-wrapper {
	margin-bottom: 10px;
}

.form__search-error {
	font-family: "RockwellRegular";
	color: $color-text-12;
	font-size: 14px;
	font-weight: bold;
}

.form__search {
	margin-bottom: 20px;
}

.search__header {
	color: $color-text-9;
	font-family: "RockwellRegular";
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.result__header {
	color: $color-text-2;
	font-family: "RockwellRegular";
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
	display: block;
	text-decoration: none;
}

.result__text {
	color: $color-text-6;
	font-family: "RockwellRegular";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

.result__item {
	margin-bottom: 20px;
}